<?xml version='1.0' encoding='UTF-8'?>
<Project xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
         xmlns:foaf="http://xmlns.com/foaf/0.1/"
         xmlns:gnome="http://api.gnome.org/doap-extensions#"
         xmlns="http://usefulinc.com/ns/doap#">

  <name xml:lang="en">orage</name>
  <shortdesc xml:lang="en">Calendar for Xfce</shortdesc>
  <homepage rdf:resource="http://www.xfce.org/projects/orage"/>
  <mailing-list rdf:resource="http://www.xfce.org/community/lists"/>

  <maintainer>
    <foaf:Person>
      <foaf:name>Juha Kautto</foaf:name>
      <foaf:mbox>mailto:juha@xfce.org</foaf:mbox>
      <gnome:userid>juha</gnome:userid>
    </foaf:Person>
  </maintainer>
</Project>
