[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce Calendar
Name[fi]=Xfce Kalenteri
Name[fr]=Calendrier Xfce
Name[he]=לוח שנה Xfce
Name[nl]=Xfce Kalender
Name[pt_BR]=Calendário do Xfce
Name[zh_TW]=Xfce 月曆
Comment=Desktop calendar
Comment[fi]=Kalenteri sovellus
Comment[fr]=Calendrier de bureau
Comment[he]=לוח שנה
Comment[nl]=Bureaukalender
Comment[pt_BR]=Calendário do Desktop
Comment[zh_TW]=桌面月曆
Exec=xfcalendar
Icon=xfcalendar.png
Terminal=false
Type=Application
Categories=Calendar
GenericName=Calendar
GenericName[fi]=Kalenteri
GenericName[nl]=Kalender
GenericName[en_US]=Calendar
GenericName[pt_BR]=Calendário
