[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce Calendar
Name[et]=Xfce kalender
Name[fi]=Xfce Kalenteri
Name[fr]=Calendrier Xfce
Name[he]=לוח שנה Xfce
Name[ko]=Xfce 달력
Name[nl]=Xfce Kalender
Name[pt_BR]=Calendário do Xfce
Name[zh_TW]=Xfce 月曆
Comment=Desktop calendar
Comment[et]=Töölaua kalender
Comment[fi]=Kalenteri sovellus
Comment[fr]=Calendrier de bureau
Comment[he]=לוח שנה
Comment[ko]=작업 공간 달력
Comment[nl]=Bureaukalender
Comment[pt_BR]=Calendário do Desktop
Comment[zh_TW]=桌面月曆
Exec=xfcalendar
Icon=xfcalendar.png
Terminal=false
Type=Application
Categories=Calendar
GenericName=Calendar
GenericName[et]=Kalender
GenericName[fi]=Kalenteri
GenericName[ko]=달력
GenericName[nl]=Kalender
GenericName[en_US]=Calendar
GenericName[pt_BR]=Calendário
GenericName[et_EE]=Kalender
Comment[et_EE]=Töölaua kalender
