[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce Calendar
Name[et]=Xfce kalender
Name[eu]=Xfce egutegia
Name[fi]=Xfce Kalenteri
Name[fr]=Calendrier Xfce
Name[he]=לוח שנה Xfce
Name[hu]=Xfce kalendárium
Name[ja]=Xfce カレンダー
Name[ko]=Xfce 달력
Name[lt]=Xfce kalendorius
Name[nl]=Xfce Kalender
Name[pt_BR]=Calendário do Xfce
Name[ro]=Calendar Xfce
Name[ru]=Календарь Xfce
Name[sk]=Kalendár Xfce
Name[sv]=Xfce-kalendern
Name[zh_CN]=Xfce 日历
Name[zh_TW]=Xfce 月曆
Comment=Desktop calendar
Comment[et]=Töölaua kalender
Comment[eu]=Xfce egutegia
Comment[fi]=Työpöytäkalenteri
Comment[fr]=Calendrier de bureau
Comment[he]=לוח שנה
Comment[hu]=Xfce kalendárium
Comment[ja]=デスクトップ・カレンダー
Comment[ko]=작업 공간 달력
Comment[lt]=Darbastalio kalendorius
Comment[nl]=Bureaukalender
Comment[pt_BR]=Calendário do Desktop
Comment[ro]=Calendar desktop
Comment[ru]=Простой календарь
Comment[sk]=Desktop kalendár
Comment[sv]= Skrivbordskalender
Comment[zh_CN]=桌面日历
Comment[zh_TW]=桌面月曆
Exec=xfcalendar
Icon=xfcalendar.png
Terminal=false
Type=Application
Categories=X-XFCE;Calendar;
GenericName=Calendar
GenericName[en_US]=Calendar
GenericName[et]=Kalender
GenericName[eu]=Egutegia
GenericName[fi]=Kalenteri
GenericName[hu]=Kalendárium
GenericName[ja]=カレンダー
GenericName[ko]=달력
GenericName[lt]=Kalendorius
GenericName[nl]=Kalender
GenericName[pt_BR]=Calendário
GenericName[ro]=Calendar
GenericName[ru]=Календарь
GenericName[sk]=Kalendár
GenericName[sv]=Kalender
GenericName[zh_CN]=日历

