[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce 4 Calendar Settings
Name[et]=Xfce 4 kalendri seaded
Name[fi]=Xfce 4 kalenterin asetukset
Name[fr]=Paramètres du calendrier Xfce 4
Name[he]=הגדרות לוח שנה Xfce 4
Name[lt]=Xfce 4 kalendoriaus nustatymai
Name[nl]=Instellingen Xfce 4 Kalender
Name[pt_BR]=Configurações do Calendário do Xfce 4
Name[ro]=Xfce 4 setări calendar
Name[ru]=Настройки календаря Xfce 4
Name[zh_CN]=Xfce 4 日历设置
Name[sk]=Nastavenia kalendára Xfce 4
Name[zh_TW]=Xfce 4 月曆偏好設定
Name[eu]=xfce 4 Egutegi Ezarpenak
Name[hu]=Xfce 4 kalendárium beállítások
Comment=Settings for the Xfce 4 Calendar Application
Comment[et]=Xfce 4 kalendri seaded
Comment[fi]=Xfce 4 kalenterisovelluksen asetukset
Comment[fr]=Paramètrage du calendrier de Xfce 4
Comment[he]=הגדרות לוח שנה
Comment[lt]=Xfce 4 kalendoriaus programos nustatymai
Comment[nl]=Instellingen voor het  Xfce 4 Kalenderprogramma
Comment[pt_BR]=Configurações para a aplicação de calendário do Xfce 4
Comment[sk]=Nastavenia pre aplikáciu Kalendár Xfce 4
Comment[ro]=Setări ale calendarului din Xfce 4
Comment[ru]=Управление параметрами программы-календаря в Xfce 4
Comment[zh_CN]=Xfce 4 日历程序的设置
Comment[zh_TW]=設定 Xfce 4 的月曆程式
Comment[eu]=Xfce 4 Egutegi aplikazioaren ezarpenak
Comment[hu]=Az Xfce 4 kalendárium beállításai
Exec=xfce-setting-show xfcalendar
Icon=xfcalendar
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Calendar Settings
GenericName[et]=Kalendri seaded
GenericName[fi]=Kalenterin asetukset
GenericName[lt]=Kalendoriaus nustatymai
GenericName[nl]=Instellingen Kalender
GenericName[pt_BR]=Configurações do calendário
GenericName[ro]=Setări calendar
GenericName[ru]=Настройки календаря
GenericName[zh_CN]=日历设置
GenericName[eu]=Egutegi Ezarpenak
GenericName[hu]=Kalendárium Beállítások
GenericName[sk]=Nastavenia kalendára
