[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Calendar Settings
Name[fr]=Paramètres de Xfce 4 Calendar
Name[nl]=Instellingen Xfce 4 Kalender
Name[zh_TW]=Xfce 4 月曆偏好設定
Comment=Settings for the Xfce 4 Calendar Application
Comment[fr]=Paramètrage du calendrier de Xfce 4
Comment[nl]=Instellingen voor het  Xfce 4 Kalenderprogramma
Comment[zh_TW]=設定 Xfce 4 的月曆程式
Exec=xfce-setting-show xfcalendar
Icon=xfcalendar
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Calendar Settings
GenericName[nl]=Instellingen Kalender
